<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Lafwind<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag "all", "blog", "normalize" %>
    <%= stylesheet_link_tag "responsive_blog", media: "screen and (max-width: 699px)" %>
    <link href="http://libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://use.fonticons.com/d72cf251.js"></script>
    <%= javascript_include_tag  "all" %>

    <!-- Source Han Sans Simplified Chinese -->
    <!--     <script src="https://use.typekit.net/oqv5rhf.js"></script>
         <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <div id="blog">
      <div class="bar_line">
      </div>

      <header>

        <div class="handle">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <nav>
          <ul>
            <li><%= link_to 'About Me', './../index.html'%></li>
            <li><%= link_to 'Feed', './../feed.xml'%></li>
          </ul>
        </nav>

        <span id="logo">
          <%= link_to 'Lafwind', '#'%>
        </span>
      </header>

      <%= yield %>

      <footer>
        <p>©2015 Lafwind </p>
        <p>Theme is designed by <%= link_to 'Lafwind', './../index.html'%></p>
      </footer>
    </div>
  </body>

</html>
