<%# wrap_layout :blog do %>
<%# end %>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Lafwind<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag "all", "blog_article", "normalize", "syntax", "syntax_jekyll" %>
    <%= stylesheet_link_tag "responsive_blog_article", media: "screen and (max-width: 900px)" %>
    <%= javascript_include_tag  "all" %>

    <!-- Source Han Sans Simplified Chinese -->
    <!--     <script src="https://use.typekit.net/oqv5rhf.js"></script>
         <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
  </head>
  <body>
    <div id="blog_detail">
      <div class="bar_line">
      </div>
      <header>
        <nav>
          <% link_to './../blog.html' do %>
            <span>&lt&lt</span> Blog
          <% end %>
        </nav>
      </header>
      <div class="article">
        <div class="blog_title">
          <p><%= current_page.title %></p>
        </div>
        <div class="blog_time">
          <p><%= current_page.date.strftime("%b %e, %Y")%></p>
        </div>

        <div class="content">
          <%= yield %>
        </div>

      </div>

      <div class="comments">
        <%= disqus %>
        <%= disqus_count %>
      </div>

      <footer>
        <p>©2015 Lafwind </p>
        <p>Theme is designed by <%= link_to 'Lafwind', './../index.html'%></p>
      </footer>
    </div>
  </body>
</html>
